@import "./fonts.scss";
@import "./header.scss";
@import "./main.scss";
@import "./normalize.scss";
@import "./nav.scss";

$plus: '"Plus Jakarta Sans"';
$gray1: rgba(240, 241, 242, 1);
$gray: rgba(154, 158, 166, 1);
$blue: rgba(68, 117, 242, 1);
$blue2: rgba(229, 237, 255, 1);
$kok: rgba(79, 125, 243, 1);
$black: rgba(24, 30, 75, 1);
$black2: rgba(94, 98, 130, 1);
$white: rgba(255, 255, 255, 1);
$shadow: rgba(68, 117, 242, 0.21);
$kulrang: rgba(104, 109, 119, 1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Plus Jakarta Sans";
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header__container {
  margin-top: 12px;
}
.line {
  margin-top: 20px;
  width: 100%px;
  height: 1px;
  border: 1px solid rgba(223, 223, 224, 1);
}

@media screen and (max-width: 1250px) {
  .container {
    max-width: 1020px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: 968px;
  }
}
@media screen and (max-width: 968px) {
  .container {
    max-width: 786px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    max-width: 400px;
  }
}
